.addNewTodo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 2px;

	font-size: 30px;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid;
	cursor: pointer;
	margin: 0;
	padding: 0 10px;
	transition: all 0.3s ease 0s;

	span {
		font-size: 12px;
	}

	@media (hover: hover) {
		&:hover {
			border-color: #1976d2;

			svg {
				color: #1976d2;
			}
		}
	}
}
