.root {
	border: 2px solid;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.title {
}

.delete {
	cursor: pointer;
	background-color: transparent;
	outline: none;
	border: none;
	font-size: 28px;
	padding: 0;
	margin: 0;

	@media (hover: hover) {
		&:hover {
			color: #1976d2;
		}
	}
}
