@import "../../common.scss";

.root {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 10px;

	border-radius: 4px;
	border: 1px solid;
	border-color: red;
	background-color: #fff;

	@media (max-width: $mobileSmall) {
		padding: 5px;
		padding-right: 10px;
	}
}

.title {
	margin-right: auto;
	font-size: 20px;
	font-family: $mainFontFamily;

	@media (max-width: $mobileSmall) {
		font-size: 16px;
	}
}

.toggler {
	@media (max-width: $mobileSmall) {
		margin: 0 10px;
	}
}

.id {
	flex-shrink: 0;

	b {
		font-size: 20px;

		@media (max-width: $mobileSmall) {
			font-size: 14px;
		}
	}
}

.delete {
	cursor: pointer;
	background-color: transparent;
	outline: none;
	border: none;
	font-size: 28px;
	padding: 0;
	margin: 0;

	@media (hover: hover) {
		&:hover {
			color: #1976d2;
		}
	}

	@media (max-width: $mobileSmall) {
		font-size: 18px;
	}
}

.edit {
	font-size: 24px;
	margin-right: 15px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: black;

	@media (hover: hover) {
		&:hover {
			color: #1976d2;
		}
	}

	@media (max-width: $mobileSmall) {
		font-size: 18px;
		text-align: center;
		margin-right: 0;
	}
}

.action {
	display: flex;
	align-items: center;

	@media (max-width: $mobileSmall) {
		flex-direction: column-reverse;
		row-gap: 5px;
	}
}
