@import "../../common.scss";

.root {
	border: 1px solid;
	border-radius: 4px;
	display: grid;
	grid-template-columns: 60px 65px 1fr 30px 40px;
	align-items: center;

	padding: 10px;
	border-color: red;

	background-color: #fff;
}

.title {
	margin-right: auto;

	font-family: $mainFontFamily;
	font-weight: 600;

	&::first-letter {
		text-transform: uppercase;
	}
}

.delete {
	cursor: pointer;
	background-color: transparent;
	outline: none;
	border: none;
	font-size: 28px;
	padding: 0;
	margin: 0;

	@media (hover: hover) {
		&:hover {
			color: #1976d2;
		}
	}
}

.id {
	flex-shrink: 0;
	color: var(--red);
	text-align: center;

	b {
		font-size: 16px;
	}
}

.edit {
	font-size: 24px;
	margin-right: 15px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: black;

	@media (hover: hover) {
		&:hover {
			color: #1976d2;
		}
	}
}
