@import "../../common.scss";

.root {
	position: relative;
	padding-top: 15px;
}

.top {
	display: flex;
	align-items: center;

	margin-bottom: 10px;
}

.bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	flex-wrap: wrap;
}

.title {
	font-size: 40px;
	text-transform: uppercase;

	font-family: $altFontFamily;

	@media (max-width: $mobile) {
		font-size: 32px;
	}

	@media (max-width: $mobileSmall) {
		font-size: 22px;
		// white-space: nowrap;
	}
}

.logo {
	font-size: 50px;
	margin-right: 20px;
	cursor: pointer;

	svg {
		color: #000;
		transition: all 0.2s ease 0s;
	}

	@media (max-width: $mobileSmall) {
		font-size: 28px;
		margin-right: 10px;
	}

	@media (hover: hover) {
		&:hover {
			svg {
				color: var(--red);
			}
		}
	}
}

.pagination {
	width: 342px;
	margin-left: auto;

	@media (max-width: 1000px) {
		position: fixed;
		z-index: 2;

		left: 50%;
		bottom: 20px;
		transform: translateX(-50%);

		border: 2px solid var(--red);
		border-radius: 8px;
		backdrop-filter: blur(5px);
	}
}
