@import "../../common.scss";

.root {
  position: relative;
  font-family: $altFontFamily;
  list-style: none;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.post {
  position: relative;
  margin-bottom: 10px;
  margin-right: 50px;
  padding: 10px 10px 10px 50px;

  border: 1px solid var(--blue);
  border-radius: 4px;

  background-color: #fff;

  @media (max-width: 420px) {
    margin-right: 40px;
  }
}

.title {
  margin: 0;
  padding: 0;

  margin-bottom: 10px;
  text-transform: none;
  font-size: 18px;

  &::first-letter {
    text-transform: uppercase;
  }

  @media (max-width: $mobileSmall) {
    font-size: 14px;
    padding: 0;
    margin-bottom: 5px;
  }
}

.text {
  text-transform: none;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-family: $mainFontFamily;

  &::first-letter {
    text-transform: uppercase;
  }

  @media (max-width: $mobileSmall) {
    font-size: 12px;
  }
}

.name {
  font-family: $mainFontFamily;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 14px;
  color: var(--blue);

  @media (max-width: $mobileSmall) {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.postNumber {
  position: absolute;
  top: 10px;
  right: 20px;

  color: var(--red);
  font-weight: 600;
}

.checkbox {
  position: absolute;
  top: 11px;
  left: 14px;

  input {
    cursor: pointer;
    width: 20px;
    height: 20px;

    opacity: 0;
    visibility: hidden;

    &:checked {
      + label::after {
        content: "";
      }
    }
  }

  label {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    border-radius: 4px;
    user-select: none;

    background-color: transparent;
    border: 1px solid #000;
    cursor: pointer;

    &::after {
      display: inline-block;
      width: 24px;
      height: 15px;
      border-left: 2px solid red;
      border-bottom: 2px solid red;
      transform: rotate(-42deg) translate(7px, -10px) skew(-8deg, -8deg);
    }
  }
}

.action {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -55px;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  row-gap: 10px;

  @media (max-width: 420px) {
    right: -45px;
  }
}

.edit {
  font-size: 24px;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      color: #1976d2;
    }
  }
}

.favorite {
  @media (hover: hover) {
    &:hover {
      color: #1976d2;
    }
  }
}

.delete {
  font-size: 28px;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      color: #1976d2;
    }
  }
}

.comment {
  padding: 5px 10px;

  display: flex;
  align-items: center;

  border-radius: 4px;
  outline: none;
  border: 1px solid #000;
  transition: all 0.3s ease 0s;

  font-family: $mainFontFamily;
  font-size: 16px;
  background-color: transparent;
  text-transform: uppercase;

  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      color: var(--blue);
      border-color: #1976d2;
    }
  }

  span {
    transition: all 0.3s ease 0s;
    display: inline-block;
    margin-left: 10px;
  }

  @media (max-width: $mobileSmall) {
    font-size: 12px;
  }
}

.bottom {
  display: grid;
  grid-template-columns: 25% 150px;
  grid-template-rows: auto;
  align-items: center;
}

.comments {
  position: relative;
  display: flex;
  flex-direction: column;

  max-width: 55%;
  padding: 10px 15px;
  padding-right: 145px;
  margin-left: 20px;

  border-radius: 4px;
  border: 1px solid var(--blue);

  background-color: #fff;

  font-size: 11px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  > * {
    margin-bottom: 5px;
  }

  @media (max-width: $mobileSmall) {
    max-width: 100%;
    padding-right: 0;
    margin-right: 10px;
    margin-left: 0;
  }

  &__name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;

    &::first-letter {
      text-transform: uppercase;
    }

    @media (max-width: $mobileSmall) {
      font-size: 12px;
      padding-right: 80px;
      margin-bottom: 5px;
    }
  }

  &__body {
    @media (max-width: $mobileSmall) {
      padding-right: 25px;
    }
  }

  &__email {
    text-decoration: underline;
    margin-bottom: 10px;
    color: var(--blue);

    @media (max-width: $mobileSmall) {
      margin-bottom: 0;
    }
  }

  strong {
    font-size: 14px;

    @media (max-width: $mobileSmall) {
      font-size: 11px;
    }
  }

  &__id {
    position: absolute;
    top: 10px;
    right: 10px;

    color: var(--red);

    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 5px;
  }
}
