.root {
	position: relative;

	&:not(:last-child) {
		margin-bottom: 20px;
	}
}

.post {
	border: 1px solid;
	padding: 10px 0px 10px 50px;
	border-radius: 4px;
	margin-bottom: 10px;
}

.title {
	margin: 0;
	padding: 0;
	padding-right: 180px;
	margin-bottom: 20px;
	text-transform: none;
}

.text {
	font-family: "Fasthand", cursive;
	text-transform: none;
	margin-bottom: 10px;
}

.name {
	font-size: 20px;
}

.checkbox {
	position: absolute;
	top: 15px;
	left: 15px;

	input {
		cursor: pointer;
	}
}

.action {
	position: absolute;
	top: 0;
	right: 10px;

	display: flex;
	align-items: center;
}

.edit {
	font-size: 24px;
	cursor: pointer;

	@media (hover: hover) {
		&:hover {
			color: #1976d2;
		}
	}
}

.favorite {
	@media (hover: hover) {
		&:hover {
			color: #1976d2;
		}
	}
}

.delete {
	font-size: 28px;
	cursor: pointer;

	@media (hover: hover) {
		&:hover {
			color: #1976d2;
		}
	}
}

.comment {
	font-size: 12px;
	border: 2px solid #000;
	border-radius: 4px;
	outline: none;
	padding: 10px;
	background-color: transparent;
	font-family: "Creepster", cursive;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.3s ease 0s;

	@media (hover: hover) {
		&:hover {
			background-color: #1976d2;
			color: white;
			border-color: #1976d2;
		}
	}
}

.bottom {
	display: inline-flex;
	column-gap: 20px;
	align-items: center;
}

.comments {
	display: flex;
	flex-direction: column;

	padding: 10px 15px;
	padding-right: 120px;
	margin-left: 50px;

	border-radius: 4px;
	border: 1px solid #000;
	font-family: "Fasthand", cursive;
	font-size: 11px;
	position: relative;

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	> * {
		margin-bottom: 5px;
	}

	&__name {
		font-size: 18px;
		font-family: "Creepster", cursive;
	}

	&__email {
		font-family: "Creepster", cursive;
	}

	strong {
		font-size: 16px;
	}

	&__id {
		position: absolute;
		top: 10px;
		right: 10px;

		display: flex;
		flex-direction: column;
		row-gap: 5px;
	}
}
