@import "../../common.scss";

.root {
	position: relative;
	display: grid;
	grid-template-columns: 40px 60px 1fr auto;
	align-items: center;

	padding: 10px;

	border-radius: 4px;
	border: 1px solid var(--blue);
	background-color: #fff;

	a {
		text-decoration: none;
		padding: 0;

		@media (hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	@media (max-width: $mobileSmall) {
		padding: 5px;
		padding-right: 0;
		grid-template-columns: 30px 40px 1fr auto;
	}
}

.title {
	padding: 5px 0;
	font-family: $mainFontFamily;
	color: #000;
	font-size: 18px;
	font-weight: 600;

	&::first-letter {
		text-transform: uppercase;
	}

	@media (max-width: $mobileSmall) {
		font-size: 16px;
	}
}

.delete {
	cursor: pointer;
	background-color: transparent;
	outline: none;
	border: none;
	font-size: 28px;
	padding: 0;
	margin: 0;

	@media (hover: hover) {
		&:hover {
			color: #1976d2;
		}
	}

	@media (max-width: $mobileSmall) {
		font-size: 18px;
	}
}

.checkbox {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	input {
		cursor: pointer;
		width: 20px;
		height: 20px;

		opacity: 0;
		visibility: hidden;

		&:checked {
			+ label::after {
				content: "";
			}
		}
	}

	label {
		position: absolute;
		width: 15px;
		height: 15px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 4px;
		user-select: none;

		background-color: transparent;
		border: 1px solid #000;
		cursor: pointer;

		&::after {
			display: inline-block;
			width: 24px;
			height: 15px;
			border-left: 2px solid red;
			border-bottom: 2px solid red;
			transform: rotate(-42deg) translate(7px, -10px) skew(-8deg, -8deg);
		}
	}
}

.favorite {
	@media (max-width: $mobileSmall) {
		font-size: 18px;
	}
}

.edit {
	font-size: 24px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: black;

	@media (hover: hover) {
		&:hover {
			color: #1976d2;
		}
	}

	@media (max-width: $mobileSmall) {
		font-size: 18px;
	}
}

.action {
	display: flex;
	align-items: center;
	column-gap: 5px;

	* {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	@media (max-width: $mobileSmall) {
		flex-direction: column-reverse;
	}
}

.id {
	color: var(--red);
	padding-left: 10px;

	@media (max-width: $mobileSmall) {
		font-size: 12px;
	}
}
